* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
}

/* Header */
header {
    background-color: #333;
    color: rgb(44, 156, 150);
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: rgb(27, 219, 237);
    text-decoration: none;
}


.contact-form-container {
    background-image: url('img/background.jpg');
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #007BFF;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.features-section {
    padding: 50px 0;
    background-color: white;
}

.features-section .container {
    text-align: center;
}

.feature-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    background-color: #31a7b7f1;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
}
